@import "tailwindcss";

:root {
  --color-lightest: #fafaf9;
  --color-medium: #818cf8;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  width: min(64rem, 95%);
  margin-inline: auto;
}

form {
  width: 100%;
  display: grid;
  align-items: center;
  gap: 1.2rem;
  background-color: var(--color-lightest);
  margin-bottom: 1.6rem;
  padding: 1.2rem;
}

.form-add-friend {
  grid-template-columns: 1fr 1.5fr;
}

.form-split-bill {
  grid-template-columns: 1fr 12rem;
}

form h2 {
  grid-column: 1 / -1;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  font-weight: 700;
}

.button {
  min-width: 5.1rem;
  background-color: var(--color-medium);
  color: #fff;
  padding: 0.4rem 0.5rem;
  border: none;
  font-weight: normal;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0.3rem;
}

.button:hover,
.selected > button {
  background-color: #172554;
}

.form-add-friend > button,
.form-split-bill > button {
  grid-column: 2;
  justify-self: end;
}

input {
  @apply w-full bg-gray-100/50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out;
}

input:disabled {
  @apply border-0;
}

select {
  @apply rounded border appearance-none border-gray-300 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-200 focus:border-indigo-500 text-base pl-3 pr-10 w-full;
}

.bordering {
  @apply border border-indigo-100 rounded-lg;
}

/*
 *  Scrollbar style
 */

#style-4::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(90, 138, 241, 0.3);
  background-color: #f5f5f5;
}

#style-4::-webkit-scrollbar {
  width: 0.3rem;
  margin-left: 0.3rem;
  background-color: #f5f5f5;
}

#style-4::-webkit-scrollbar-thumb {
  background-color: #826aee;
  border: 2px solid #818cf8;
}
